/* //FONT IMPORT */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/* dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --body-font-1: 'Noto Sans', sans-serif;
    --body-font-2: 'Roboto Mono', monospace;
    --second-fontsize: 'Dancing Script', cursive;
    --normal-font-size: 1.125rem;
    --small-font-size: .9rem;
    --smaller-font-size: .8rem;
    --big-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --togglr-fixed: 100;
}