.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--navy);

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem .8rem;

        & .logo {
            scale: .8;
            opacity: 0;

            &.logo-after-animtion {
                animation: logo-after-animtion .5s forwards linear 1.2s;

            }
        }

        .nav-menu {
            position: fixed;
            display: grid;
            text-align: start;
            place-items: start;
            gap: 1.7rem;
            top: 25%;
            left: 30%;
            transform: translate(-40%);
            opacity: 0;
            pointer-events: none;
            transition: .4s linear;
            z-index: 99;

            &.show-menu {
                opacity: 1;
                top: 20%;
                pointer-events: all;
            }

            .menu-list {


                .list-link {
                    color: var(--lightest-slate);
                    font-size: 1.3rem;
                    padding: .5rem;
                    transition: .4s ease;
                    position: relative;
                }

                .list-link::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 5px;
                    bottom: -.4rem;
                    right: -2rem;
                    border-radius: 20px;
                    opacity: 0;
                    background-color: var(--green);
                    transition: .2s ease-in;
                }

                .list-link:hover::after {
                    right: 70%;
                    opacity: 1;
                }

                .list-link-1,
                .list-link-2 {
                    transition: .3s ease-in;
                }

                .list-link-1:hover::after,
                .list-link-2:hover::after {
                    right: 80%;
                }


                .resume-download {
                    position: absolute;
                    display: inline-block;
                    color: var(--green);
                    padding: .4rem .6rem;
                    border: 2px solid var(--green);
                    margin-top: 1rem;
                    /* opacity: 0; */
                    /* scale: .7; */
                    overflow: hidden;
                    transition: .4s ease-in;
                }

                // .resume-push {
                //     animation: show-resume .4s linear forwards .8s;
                // }

                .resume-download::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 112%;
                    top: -3px;
                    left: -40px;
                    background-color: var(--green);
                    transform: skew(-50deg);
                    transition: .4s ease-in;
                    overflow: hidden;
                    z-index: -1;
                }

                .resume-download:hover::after {
                    width: 200%;
                }

                .resume-download:hover {
                    color: var(--dark-navy);
                }
            }

            .nav-animation {
                animation: navMenu-2 .3s linear forwards .5s;
            }

        }

        .nav-toggles {
            display: flex;
            z-index: 100;

            &.toggle-out .toggle-one {
                pointer-events: none;
                opacity: 0;

                & .bars:nth-child(1) {
                    animation: toggle-one-out .7s ease-in forwards;
                }

                & .bars:nth-child(2) {
                    transform: rotate(135deg) translateX(-100px);
                }

                & .bars:nth-child(3) {
                    animation: toggle-one-outt .7s ease-in forwards;
                }
            }


            &.toggle-out .toggle-one.toggle-two {
                opacity: 1;
                pointer-events: all;

                & .bars2:nth-child(1) {
                    transform: rotate(-45deg) translateX(-8px) translateY(8px);
                }

                & .bars2:nth-child(2) {
                    transform: rotate(45deg) translateX(-8px) translateY(-8px);
                }
            }

            & .toggle-one {
                width: 40px;
                height: 40px;
                display: grid;
                gap: .4rem;
                margin-top: .2rem;
                place-items: center;
                cursor: pointer;
                transition: .5s ease-in;
                scale: 0;
                opacity: 0;
                margin-left: -40px;

                &.toggle-on-loading {
                    scale: 1;
                    opacity: 1;
                }


                .bars {
                    width: 100%;
                    height: 4px;
                    border-radius: 15px;
                    background-color: var(--lightest-slate);
                    transform: rotate(-45deg);
                    transition: .8s ease;
                    overflow: hidden;

                    &:nth-child(1) {
                        width: 50%;
                        transform: rotate(-45deg) translate(-8px);
                        animation: toggle-one-in .6s linear forwards;
                    }

                    &:nth-child(2) {
                        transform: rotate(135deg);
                    }

                    &:nth-child(3) {
                        width: 50%;
                        transform: rotate(-45deg) translate(8px);
                        animation: toggle-one-inn .6s linear forwards;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        background-color: var(--green);
                        transition: .4s ease;
                    }
                }

                &:hover .bars::after {
                    width: 100%;
                }

                &.toggle-two {
                    opacity: 0;
                    scale: 1;
                    pointer-events: none;

                    & .bars2 {
                        width: 100%;
                        height: 4px;
                        border-radius: 15px;
                        background-color: var(--blue);
                        transform: rotate(-45deg);
                        transition: 1.2s ease;
                        overflow: hidden;

                        &:nth-child(1) {
                            width: 100%;
                            // transform: rotate(-45deg) translateX(-8px) translateY(8px);
                            transform: rotate(-45deg) translateX(120px) translateY(8px);
                        }

                        &:nth-child(2) {
                            // transform: rotate(45deg) translateX(-8px) translateY(-8px);
                            transform: rotate(45deg) translateX(-120px) translateY(-8px);
                        }
                    }
                }
            }
        }

        .tra-container {
            position: fixed;
            top: 4rem;
            left: -2rem;
            display: grid;
            pointer-events: none;
            transform: rotate(-40deg) translateX(-60px) translateY(-280px);

            .traingle {
                width: 1000px;
                height: 220px;
                transition: .5s ease-in;
                pointer-events: none;

                &:nth-child(1) {
                    transform: translateY(-280px);
                }

                &:nth-child(2) {
                    height: 0;
                }

                &:nth-child(3) {
                    transform: translateY(380px);
                }
            }



            &.tra-in {
                pointer-events: all;
                z-index: 98;

                & .traingle {
                    background-color: var(--light-navy);
                    z-index: 10;

                    &:nth-child(1) {
                        transform: translateY(1px);
                    }

                    &:nth-child(2) {
                        height: 220px;
                    }

                    &:nth-child(3) {
                        transform: translateY(-1px);
                    }
                }
            }

            &.colory .traingle {
                background-color: var(--green);
            }
        }

        .theme-toggle {
            position: fixed;
            right: 1.5rem;
            bottom: 2rem;
            opacity: 0;
            cursor: pointer;
            background: transparent;
            transition: .3s ease-in;

            .theme-toggle svg,
            .sun,
            .sun-dots,
            #moon-mask>circle {
                transition: .3s ease-in;
            }

            & svg {
                stroke-linecap: round;
                stroke-width: 1.5px;
                fill: var(--lightest-slate);
                stroke: var(--lightest-slate);

                &:hover {
                    fill: var(--green);
                    stroke: var(--green);
                }

            }

            &.dark {
                opacity: 1;

                & .sun-and-moon {
                    animation: sun-moona .5s forwards linear;
                }

                & .sun {
                    animation: suna .5s forwards linear;
                }

                & .sun-dots {
                    animation: sun-dotsa .4s forwards linear;
                }

                & #moon-mask>circle {
                    animation: mask-circlea .4s forwards linear;
                }
            }

            &.light {
                & .sun-and-moon {
                    animation: sun-moonb .3s forwards linear;
                }

                & .sun {
                    fill: var(--second-white-color);
                    stroke: var(--second-white-color);
                    animation: sunb .3s forwards linear;
                }

                & .sun-dots {
                    animation: sun-dotsb .3s forwards;
                }

                & #moon-mask>circle {
                    animation: mask-circleb .25s forwards linear .4s;
                }

                .light #moon-mask>rect {
                    fill: var(--second-white-color);
                }

            }


        }
    }

    & .loading {
        position: fixed;
        display: grid;
        place-content: center;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--dark-navy);
        z-index: 101;
        transition: .4s ease-in;

        &.loading-off {
            opacity: 0;
            pointer-events: none;
            z-index: -1;
        }

        & .loader.animation {
            animation: loader .3s linear forwards 2.5s;
        }


        .logo-char {
            opacity: 0;
            animation: img-b-animtion .5s linear forwards 2s;
        }

        .logo-shape {
            stroke-dasharray: 300;
            stroke-dashoffset: 300;
            animation: logo-shape 1s linear forwards .5s;
        }


    }

}