@keyframes middle-toggle-go {
    from {
        transform: rotate(135deg) translateX(0);
    }

    to {
        transform: rotate(135deg) translateX(-100px);
    }
}

@keyframes middle-toggle-out {
    from {
        transform: rotate(135deg) translateX(-100px);
    }

    to {
        transform: rotate(135deg) translateX(0);
    }
}

@keyframes toggle-one-out {
    0% {
        transform: rotate(-45deg) translate(-8px);
    }

    100% {
        transform: rotate(-45deg) translate(100px);
    }
}

@keyframes toggle-one-outt {
    0% {
        transform: rotate(-45deg) translate(8px);
    }

    100% {
        transform: rotate(-45deg) translate(100px);
    }
}

@keyframes toggle-one-in {
    0% {
        transform: rotate(-45deg) translate(100px);
    }

    100% {
        transform: rotate(-45deg) translate(-8px);
    }
}

@keyframes toggle-one-inn {
    0% {
        transform: rotate(-45deg) translate(100px);
    }

    100% {
        transform: rotate(-45deg) translate(8px);
    }
}

// @keyframes navMenu-2 {
//     0% {
//         top: 9rem;
//         opacity: 0;
//         pointer-events: none;
//     }

//     100% {
//         top: 7rem;
//         opacity: 1;
//         pointer-events: all;
//     }
// }

// @keyframes navMenu-1 {
//     0% {
//         top: 7rem;
//         opacity: 1;
//         pointer-events: all;
//     }

//     100% {
//         top: 9rem;
//         opacity: 0;
//         pointer-events: none;

//     }
// }

/* animation for the home titele */

/* @keyframes letter-animation {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.4, .55, 1);
    }

    40% {
        transform: scale3d(.75, 1.3, 1);
    }

    50% {
        transform: scale3d(1.15, .85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
} */
/* 

/*  animation for the logo and loading animation */

@keyframes logo-shape {
    0% {
        stroke-dashoffset: 300;
    }

    20% {
        stroke-dashoffset: 298;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* naimtion for main on loading */
@keyframes home-title-animation {
    0% {
        opacity: 0;
        margin-bottom: -2rem;
    }


    100% {
        opacity: 1;
        margin-left: initial;
    }
}

@keyframes home-subtitle-animation {
    0% {
        opacity: 0;
        margin-top: 4.2rem;
    }


    100% {
        opacity: 1;
        scale: 1;
        margin: 3.2rem 0 2rem;
    }
}

/* animtion for loading after the first one */

@keyframes logo-after-animtion {
    100% {
        opacity: 1;
        scale: 1;
    }
}

/* animation for resume button */
@keyframes show-resume {
    100% {
        opacity: 1;
        scale: 1;
    }
}

/* loader animation */
@keyframes loader {
    100% {
        scale: 0;
    }
}

/* animatin for img-b */
@keyframes img-b-animtion {
    100% {
        opacity: 1;
    }
}

/* tags animatoin */

@keyframes tags-animation {
    0% {
        scale: .3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

/* img-a animation */

@keyframes img-a {
    100% {
        transform: rotate(0);
        opacity: 1;
        scale: 1;
    }
}

/* home button anomation*/

@keyframes button {
    50% {
        bottom: -5.5rem;
        opacity: 1;
        scale: 1;
    }

    100% {
        bottom: -5.5rem;
        opacity: 1;
        scale: 1;
    }
}

/* sun-dots */

@keyframes sun-dotsa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sun-dotsb {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* sun */
@keyframes suna {
    0% {
        r: 10px;
    }

    80% {
        r: 4px;
    }

    100% {
        r: 5px;
    }
}

@keyframes sunb {
    0% {
        r: 5px;
    }

    100% {
        r: 10px;
    }
}

/* sun-moon */

@keyframes sun-moona {
    0% {
        transform: rotate(-50deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sun-moonb {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-50deg);
    }
}

/* mask-circle */

@keyframes mask-circlea {
    0% {
        cx: 20px;
        cy: 17px;
        r: 10px;
    }

    100% {
        cx: 30px;
        cy: 17px;
        r: 6px;
    }
}

@keyframes mask-circleb {
    0% {
        cx: 30px;
        cy: 17px;
        r: 6px;
    }

    100% {
        cx: 20px;
        cy: 17px;
        r: 10px;
    }
}


/* scroll dwon animation */

@keyframes finger {
    50% {
        fill: var(--green);
        transform: rotate(50deg) translateY(-340px) translateX(200px);
    }

    100% {
        fill: #69759D;
        transform: rotate(0) translateY(0px) translateX(0px)
    }
}

@keyframes circlee {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes stick {
    50% {
        opacity: 1;
        height: 7px;
    }

    100% {
        opacity: 0;
        height: 7px;
    }
}

@keyframes head {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* show- about img*/

@keyframes show-disc {
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}