
/* BASICS VARIABLES */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color)  ;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    transition: .4s ease-in;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
svg {
    fill: var(--text-color);
    transition: .3s ease;
}

img{
    width: 100px;
    height: auto;
}

button{
    border: none;
    background: none;
    font-family: var(--body-font);
    
}

section{
    padding: 3.5rem 0 4rem;
    text-align: center;
}

.container {
    margin-inline: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.section-subitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}