/* HEADER & NAV */
.dash-header{ 
    width: 100%;
    position: fixed;
    bottom: 0rem;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.header-container {
    height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0rem 1rem;
    box-shadow: 0px -1px 4px hsla(229, 15%, 22%, 0.21);
}

.header-logo{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    transition: .4s ease-in;
}

.extra{
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    justify-self: flex-end;
}

#theme-icon,
#toggel-icon{
    font-size: var(--h3-font-size);
        color: var(--title-color);
    cursor: pointer;
    transition: .4s ease-in;
}

.header-logo:hover,
#theme-icon:hover,
#toggel-icon:hover{
    color: var(--first-color);
}


@media screen and (max-width: 767px){
    .nav-menu {
        position: absolute;
        bottom: 3.8rem;
        width: 90%;
        left: 0rem;
        margin: 0 auto;
        padding: 1.2rem;
        background-color: var(--container-color);
        box-shadow: 0px 1px 4px hsla(229, 15%, 22%, 0.21);
        grid-template-columns: repeat(3, 3fr);
        border-radius: 8px;
        transition: .4s ease-in;
        animation: menu-hide .3s linear forwards;
    }

    .list-link{
        display: grid;
        place-items: center;
        text-transform: capitalize;
        color: var(--title-color);
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        gap: 0.2rem;
        transition: .3s ease-in-out;
    }

    .list-link:hover{
        color: var(--first-color);
    }

    .list-link i{
        font-size: var(--h3-font-size);
        font-weight: 700;
    }

    .nav-menu-active{
        animation: menu-show .3s linear forwards;
        
    }
}